/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-inline-start: 0%
}

;

a {
  width: 100%;
  height: 100%;
};

.gallery-item {
  width: 400px;
  height: 220px;
}

img {
  width: 400px;
  height: 220px;
};
.feedback-form {
  display: flex;
  flex-direction: column;
 
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

}

.feedback-form button {
  padding: 8px 12px;
  background-color: #4E75FF;
  color: #fff;
  border-radius: 8px;
  border-color: #fff;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  font: inherit;
  width: 360px;
}

textarea {
  resize: none;
  width: 360px;
  height: 80px;
};
input{
  height: 40px;
};